<div class="jumbotron mt-4">
    <p class="lead maintext">
        Hi, I’m Harutyun, a developer and computer graphics artist.
        I am transitioning to full time software developer.
        And building career in this field.<br>You can find out more
        <a class="hlink" href="{% url 'portfolio:about' %}">about me</a>, have a look at some
        <a class="hlink" href="{% url 'portfolio:projects' %}">things I’ve built</a> or
        scroll down for my work experiance.<br /><br />
        If you are looking for a Python Developer, we should chat. I’m
        currently looking for my next big thing</a>.
    </p>
</div>
